:root {
    --font-color: var(--darkgreen-font-color);
    --color-alpha: var(--darkgreen-color-alpha);
    --color-beta: var(--darkgreen-color-beta);
    --color-gamma: var(--darkgreen-color-gamma);
    --color-psi: var(--darkgreen-color-psi);
    --color-omega: var(--darkgreen-color-omega);
    --bg-color: var(--darkgreen-bg-color);
}