:root {
    --font-color: var(--darksea-font-color);
    --color-alpha: var(--darksea-color-alpha);
    --color-beta: var(--darksea-color-beta);
    --color-gamma: var(--darksea-color-gamma);
    --color-psi: var(--darksea-color-psi);
    --color-omega: var(--darksea-color-omega);
    --bg-color: var(--darksea-bg-color);
}