:root {
    --font-color: var(--darkblue-font-color);
    --color-alpha: var(--darkblue-color-alpha);
    --color-beta: var(--darkblue-color-beta);
    --color-gamma: var(--darkblue-color-gamma);
    --color-psi: var(--darkblue-color-psi);
    --color-omega:var(--darkblue-color-omega);
    --bg-color: var(--darkblue-bg-color);
}