:root {
    --font-color: var(--lightgreen-font-color);
    --color-alpha: var(--lightgreen-color-alpha);
    --color-beta: var(--lightgreen-color-beta);
    --color-gamma: var(--lightgreen-color-gamma);
    --color-psi: var(--lightgreen-color-psi);
    --color-omega: var(--lightgreen-color-omega);
    --bg-color: var(--lightgreen-bg-color);
}