:root {
    --font-color: var(--lightsea-font-color);
    --color-alpha: var(--lightsea-color-alpha);
    --color-beta: var(--lightsea-color-beta);
    --color-gamma: var(--lightsea-color-gamma);
    --color-psi: var(--lightsea-color-psi);
    --color-omega: var(--lightsea-color-omega);
    --bg-color: var(--lightsea-bg-color);
}