:root {
    --font-color: var(--lightblue-font-color);
    --color-alpha: var(--lightblue-color-alpha);
    --color-beta: var(--lightblue-color-beta);
    --color-gamma: var(--lightblue-color-gamma);
    --color-psi: var(--lightblue-color-psi);
    --color-omega:var(--lightblue-color-omega);
    --bg-color: var(--lightblue-bg-color);
}