@media (prefers-color-scheme: light) {
    :root {
    --font-color: #0E160D;
    --color-alpha: #153315;
    --color-beta: #476E3A;
    --color-gamma: #819E62;
    --color-psi: #A9C990;
    --color-omega: #CBDDAF;
    --bg-color: #EDF1D6;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
    --font-color: #EDF1D6;
    --color-alpha: #CBDDAF;
    --color-beta: #A9C990;
    --color-gamma: #819E62;
    --color-psi: #476E3A;
    --color-omega: #153315;
    --bg-color: #0E160D;
    }
}