@media (prefers-color-scheme: light) {
    :root {
        --font-color: #263028;
        --color-alpha: #154416;
        --color-beta: #609966;
        --color-gamma: #89AB7B;
        --color-psi: #9DC08B;
        --color-omega: #ADCC9D;
        --color-color: #EDF1D6;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
        --color-color: #EDF1D6;
        --color-alpha: #ADCC9D;
        --color-beta: #9DC08B;
        --color-gamma: #89AB7B;
        --color-psi: #609966;
        --color-omega: #154416;
        --color-color: #263028;
    }
}