@media (prefers-color-scheme: light) {
    :root {
    --font-color: #040C1E;
    --color-alpha: #0E3144;
    --color-beta: #22757D;
    --color-gamma: #5BA287;
    --color-psi: #84B094;
    --color-omega: #B7C9AB;
    --bg-color: #E4E6C3;
    }
}
  
@media (prefers-color-scheme: dark) {
    :root {
    --font-color: #E4E6C3;
    --color-alpha: #B7C9AB;
    --color-beta: #84B094;
    --color-gamma: #5BA287;
    --color-psi: #22757D;
    --color-omega: #0E3144;
    --bg-color: #040C1E;
    }
}