// @use '../static/theme/system.scss' as *;
// @use '../static/theme/light.scss' as *;
// @use '../static/theme/dark.scss' as *;
// @import "../theme/theme";

$color-gamma: var(--color-gamma);

// Colors to choose from:
// var(--font-color)
// var(--color-alpha)
// var(--color-beta)
// var(--color-gamma)
// var(--color-psi)
// var(--color-omega)
// var(--bg-color)

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

p {
    font-size: 16px;
    font-weight: 400;
    line-height: 200%;
    letter-spacing: 10%;
    // margin: 2rem 0;
}

h1 {
    // background-color: $color-gamma;
    // background-color: var(--color-gamma);
    
    font-size: 37px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 10%;
}

h2 {
    font-size: 28px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 10%;

}

h3 {
    font-size: 21px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 10%;
}

a {
    line-height: 150%;
}

.nav-icon {
    text-decoration: none;
    
    color: rgba(0, 0, 0, 0.75);
}