// @use '../static/theme/system.scss' as *;
// @use '../static/theme/light.scss' as *;
// @use '../static/theme/dark.scss' as *;
// @import "../theme/theme";

// $color-gamma: var(--color-gamma);
// .testElem {
    // background-color: $color-gamma;
    // background-color: var(--color-gamma); 
// }

// Colors to choose from:
// var(--font-color)
// var(--color-alpha)
// var(--color-beta)
// var(--color-gamma)
// var(--color-psi)
// var(--color-omega)
// var(--bg-color)


:root {
    --baseline: 1rem;
    
    --margin: var(--baseline);
    --margin-small: calc(var(--baseline)*0.5);
    --margin-large: calc(var(--baseline)*1.5);

    --padding: var(--baseline);
    --padding-small: calc(var(--baseline)*0.5);
    --padding-large: calc(var(--baseline)*1.5);
}

html {
    transform: 5s;
    scroll-snap-type: y mandatory;
    scroll-behavior: smooth;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    scrollbar-width: none;
}

::-webkit-scrollbar {
    display: none;
}

p, h1, h2, h3, a {
    color: var(--font-color);
    font-weight: 400;
    letter-spacing: .1rem;
    padding: var(--padding-small);
}

p, a, label {
    font-size: var(--baseline);
    line-height: 200%;
}


h1, h2, h3 {
    padding-top: var(--padding);
    line-height: 130%;
}

h1 {
    font-size: calc(var(--baseline)*2.3);
}

h2 {
    font-size: calc(var(--baseline)*1.75);

}

h3 {
    font-size: calc(var(--baseline)*1.3);
}

i {
    color: var(--font-color);
    cursor: pointer;
}